@charset "UTF-8";
@keyframes soon {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes wiggle {
  0% {
    transform: translateX(0); }
  33% {
    transform: translateX(7px); }
  66% {
    transform: translateX(-7px); }
  100% {
    transform: translateX(0); } }
body {
  width: 100%;
  margin: 190px 0 30px 0; }

header, footer {
  width: 100%;
  background-color: #579c87;
  z-index: 4;
  display: flex; }

footer {
  position: fixed;
  height: 60px;
  bottom: 0;
  justify-content: space-between; }

header {
  position: absolute;
  height: 140px;
  top: 0;
  justify-content: center;
  align-items: center; }

.lien-note {
  background-color: #fcdfdb;
  color: #3c1218; }
  .lien-note h2 {
    font-family: 'Devonshire', cursive;
    font-size: 2.2em;
    font-weight: 100; }
  .lien-note p {
    font-family: 'Kalam', cursive;
    font-weight: 900;
    color: #3c1218; }

.lien-palette {
  background-color: #fdfffd;
  color: #3c1218; }
  .lien-palette h2 {
    font-family: 'Kaushan Script', cursive;
    font-size: 2.2em;
    background: -webkit-linear-gradient(315deg, #489b40 0%, #90d867 60%, #beff7f 80%);
    -webkit-background-clip: text;
    color: transparent; }
  .lien-palette p {
    font-family: 'Caveat', cursive;
    color: #489b40; }

.lien-delice {
  background-color: #f7f7f7;
  color: #3c1218; }
  .lien-delice h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 2.2em;
    background: -webkit-linear-gradient(315deg, #0228dd 0%, #0670f3 60%, #229df9 80%);
    -webkit-background-clip: text;
    color: transparent; }
  .lien-delice p {
    font-family: 'Caveat', cursive;
    color: #229df9; }

/* Responsive acceuil 360px */
@media all and (max-width: 360px) {
  .lien-delice h2 {
    font-size: 2.1em; } }
.lien-chic {
  background-color: #fff5fe;
  color: #3c1218; }
  .lien-chic h2 {
    font-family: 'Croissant One', cursive;
    font-size: 1.5em;
    font-weight: 100;
    background: -webkit-linear-gradient(315deg, #c67412 0%, #a56799 60%, #6e4ccc 80%);
    -webkit-background-clip: text;
    color: transparent; }
  .lien-chic p {
    font-family: 'PT Serif', serif;
    font-weight: 900;
    color: #c67412; }

/* Responsive acceuil 360px */
@media all and (max-width: 360px) {
  .lien-chic h2 {
    font-size: 1.4em; } }
.soon {
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  left: 20px; }
  .soon__btn {
    height: 60px;
    width: 300px;
    font-size: 1.8em;
    color: #fdcb46;
    background-color: #579c87;
    border-radius: 10px;
    border: none;
    transition: 350ms 150ms ease-in-out;
    cursor: pointer;
    text-align: start;
    padding-left: 20px; }
    .soon__btn:hover {
      background: #95c4b6;
      color: #fcbd14; }
  .soon p {
    display: block;
    position: relative;
    font-size: 3em;
    left: -60px;
    top: -50px;
    color: #fdcb46;
    cursor: pointer; }
  .soon .anim-soon-btn-1 {
    animation: soon 1.6s 150ms ease-in-out infinite alternate; }
  .soon .anim-soon-btn-2 {
    animation: soon 1.6s 650ms ease-in-out infinite alternate; }
  .soon .anim-soon-btn-3 {
    animation: soon 1.6s 1050ms ease-in-out infinite alternate; }

body footer a {
  font-family: 'Roboto';
  font-size: 1.8em;
  margin: 0 20px;
  position: relative;
  text-decoration: none;
  color: #fdcb46; }
  body footer a:hover {
    display: inline-block;
    animation: wiggle 120ms linear 6; }

body header h1 {
  visibility: hidden;
  position: absolute;
  left: -10000px; }
body header a {
  display: inline-block;
  width: 35%;
  max-height: 130px;
  max-width: 570px;
  min-width: 300px;
  text-decoration: none; }
body header img {
  width: 100%;
  text-align: center; }

body #bloc-page main div section a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(1);
  opacity: 1;
  transition: transform 600ms 100ms ease-in-out,opacity 400ms 300ms ease-in-out; }
  body #bloc-page main div section a:hover {
    transform: scale(1.2);
    opacity: 0.7; }
  body #bloc-page main div section a p {
    font-size: 2.7em;
    margin-top: 0; }
  body #bloc-page main div section a h2 {
    width: 100%;
    text-align: center;
    margin-top: 0; }
  body #bloc-page main div section a img {
    width: 80px; }

/* base page menu  */
.note-page, .delice-page, .palette-page, .chic-page {
  margin: -50px 0 100px 0;
  width: 100%; }
  .note-page main, .delice-page main, .palette-page main, .chic-page main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2.3em;
    color: black; }
    .note-page main h2, .delice-page main h2, .palette-page main h2, .chic-page main h2 {
      text-align: center; }
    .note-page main .menu, .delice-page main .menu, .palette-page main .menu, .chic-page main .menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
      box-shadow: 0 0 15px #b8b8b8; }
      .note-page main .menu .title-top, .delice-page main .menu .title-top, .palette-page main .menu .title-top, .chic-page main .menu .title-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 60px 0 60px 0; }
        .note-page main .menu .title-top img, .delice-page main .menu .title-top img, .palette-page main .menu .title-top img, .chic-page main .menu .title-top img {
          width: 140px; }
      .note-page main .menu .title-bottom, .delice-page main .menu .title-bottom, .palette-page main .menu .title-bottom, .chic-page main .menu .title-bottom {
        display: flex; }
        .note-page main .menu .title-bottom img, .delice-page main .menu .title-bottom img, .palette-page main .menu .title-bottom img, .chic-page main .menu .title-bottom img {
          width: 100px;
          height: 140px; }
      .note-page main .menu section, .delice-page main .menu section, .palette-page main .menu section, .chic-page main .menu section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px; }
        .note-page main .menu section .title, .delice-page main .menu section .title, .palette-page main .menu section .title, .chic-page main .menu section .title {
          display: flex;
          justify-content: center; }
          .note-page main .menu section .title .submenu-title, .delice-page main .menu section .title .submenu-title, .palette-page main .menu section .title .submenu-title, .chic-page main .menu section .title .submenu-title {
            cursor: pointer;
            margin: 0 2% 0 2%; }
          .note-page main .menu section .title .progress-underline, .delice-page main .menu section .title .progress-underline, .palette-page main .menu section .title .progress-underline, .chic-page main .menu section .title .progress-underline {
            height: 3px;
            border-radius: 30%;
            background-color: currentColor;
            transform: scaleX(0);
            transform-origin: 0% 50%;
            transition: transform 1000ms 150ms ease-in-out; }
        .note-page main .menu section h3:hover + .progress-underline, .delice-page main .menu section h3:hover + .progress-underline, .palette-page main .menu section h3:hover + .progress-underline, .chic-page main .menu section h3:hover + .progress-underline {
          transform: scale(1); }
        .note-page main .menu section ul, .delice-page main .menu section ul, .palette-page main .menu section ul, .chic-page main .menu section ul {
          width: 80%;
          padding: 0; }
          .note-page main .menu section ul li, .delice-page main .menu section ul li, .palette-page main .menu section ul li, .chic-page main .menu section ul li {
            display: flex;
            justify-content: space-between; }
            .note-page main .menu section ul li .price, .delice-page main .menu section ul li .price, .palette-page main .menu section ul li .price, .chic-page main .menu section ul li .price {
              display: flex;
              align-items: center;
              font-weight: 900; }

/* Menu la palette page */
.palette-menu {
  background-color: #f7f7f7;
  font-family: 'Kalam', sans-serif;
  color: black; }
  .palette-menu .title-top, .palette-menu .title-bottom {
    width: 100%; }
  .palette-menu section .title {
    width: 95%; }
    .palette-menu section .title .submenu-title {
      width: 30%;
      text-align: center; }
      .palette-menu section .title .submenu-title #p-u-entrees-palette, .palette-menu section .title .submenu-title #p-u-plats-palette, .palette-menu section .title .submenu-title #p-u-desserts-palette {
        background-color: #489b40; }
    .palette-menu section .title svg {
      width: 30%; }
    .palette-menu section .title h3 {
      font-weight: 100;
      font-size: 0.8em;
      margin: 0; }
  .palette-menu h2 {
    font-family: 'Kaushan Script', sans-serif;
    font-size: 1.8em;
    text-align: center;
    width: 70%;
    background: -webkit-linear-gradient(315deg, #489b40 0%, #90d867 60%, #beff7f 80%);
    -webkit-background-clip: text;
    color: transparent; }
  .palette-menu p {
    font-size: 0.6em; }
  .palette-menu .title-bottom {
    justify-content: center; }
    .palette-menu .title-bottom h2 {
      font-size: 1.5em; }

/* Responsive menu La palette 750px */
@media all and (max-width: 750px) {
  .palette-menu section .title .submenu-title {
    width: 60%; }
  .palette-menu h2 {
    font-size: 1.2em; }
  .palette-menu h3 {
    font-size: 0.7em; }
  .palette-menu p {
    font-size: 0.6em; }
  .palette-menu .title-bottom h2 {
    font-size: 1em; } }
/* Menu la note page */
.note-menu {
  background-color: #fcdfdb;
  font-family: 'Kalam', sans-serif;
  color: #3c1218; }
  .note-menu h2 {
    font-family: 'Devonshire',serif;
    font-size: 1.8em;
    font-weight: 100; }
  .note-menu section .title {
    width: 80%; }
    .note-menu section .title .submenu-title {
      width: 30%;
      text-align: center; }
      .note-menu section .title .submenu-title h3 {
        font-size: 0.8em;
        margin: 0; }
    .note-menu section .title svg {
      width: 35%; }
  .note-menu section p {
    font-size: 0.6em; }
  .note-menu .title-bottom h2 {
    font-size: 1.5em; }
  .note-menu .title-top h2 {
    margin-top: 0; }

/* Responsive menu La note 750px */
@media all and (max-width: 750px) {
  .note-page .note-menu h2 {
    font-size: 1.2em; }
  .note-page .note-menu .title .submenu-title {
    width: 30%;
    text-align: center; }
    .note-page .note-menu .title .submenu-title h3 {
      font-size: 0.7em;
      margin: 0; }
  .note-page .note-menu p {
    font-size: 0.6em; }
  .note-page .note-menu .title-top h2, .note-page .note-menu .title-bottom h2 {
    margin-top: 0; } }
/* Menu le delice page */
.delice-menu {
  background-color: #f7f7f7;
  font-family: 'Caveat', sans-serif;
  color: black; }
  .delice-menu section .title {
    width: 95%; }
  .delice-menu .submenu-title {
    width: 40%;
    text-align: center; }
    .delice-menu .submenu-title #p-u-entrees-delice {
      background-color: #0228dd; }
    .delice-menu .submenu-title #p-u-plats-delice {
      background-color: #0670f3; }
    .delice-menu .submenu-title #p-u-desserts-delice {
      background-color: #229df9; }
  .delice-menu svg {
    width: 28%; }
  .delice-menu .title-top, .delice-menu .title-bottom {
    width: 100%; }
  .delice-menu h2 {
    text-align: center;
    width: 70%;
    font-family: 'Dancing Script', sans-serif;
    font-size: 2em;
    font-weight: 100;
    margin: 60px;
    background: -webkit-linear-gradient(315deg, #0228dd 0%, #0670f3 60%, #229df9 80%);
    -webkit-background-clip: text;
    color: transparent; }
  .delice-menu h3 {
    font-size: 1em;
    margin: 0;
    font-weight: 100; }
  .delice-menu p {
    font-size: 0.8em; }
  .delice-menu .title-bottom {
    justify-content: center; }
    .delice-menu .title-bottom h2 {
      font-size: 1.5em; }

/* Responsive menu Le délice 750px */
@media all and (max-width: 750px) {
  .delice-menu h2 {
    font-size: 1.2em; }
  .delice-menu h3 {
    font-size: 0.8em; }
  .delice-menu p {
    font-size: 0.7em; }
  .delice-menu .title-bottom h2 {
    font-size: 1em; } }
/* Menu le chic page */
.chic-menu {
  background-color: #fff5fe;
  font-family: 'PT Serif', sans-serif; }
  .chic-menu section .title {
    width: 95%; }
  .chic-menu .submenu-title {
    width: 40%;
    text-align: center; }
  .chic-menu svg {
    width: 28%; }
  .chic-menu h2 {
    font-family: 'Croissant One', sans-serif;
    font-size: 1.2em;
    font-weight: 100;
    margin: 90px 0 90px 0;
    background: -webkit-linear-gradient(315deg, #c67412 0%, #a56799 60%, #6e4ccc 80%);
    -webkit-background-clip: text;
    color: transparent; }
  .chic-menu h3 {
    font-size: 0.6em;
    margin: 0; }
  .chic-menu p {
    font-size: 0.5em; }
  .chic-menu .entrees {
    color: #c67412; }
  .chic-menu .plats {
    color: #a56799; }
  .chic-menu .desserts {
    color: #6e4ccc; }
  .chic-menu .title-bottom h2 {
    font-size: 0.9em; }

/* Responsive menu Le chic 750px */
@media all and (max-width: 750px) {
  .chic-menu h2 {
    font-size: 0.8em; }
  .chic-menu h3 {
    font-size: 0.5em; }
  .chic-menu .title-bottom h2 {
    font-size: 0.7em; } }
/* Responsive acceuil 1200px */
@media all and (max-width: 1200px) {
  #bloc-page .accueil__section {
    width: 32%;
    padding-top: 45%; } }
/* Responsive acceuil 1050px */
@media all and (max-width: 1050px) {
  #bloc-page .accueil__section {
    width: 45%;
    padding-top: 60%;
    margin: 0 10px 0 10px; } }
/* Responsive acceuil 750px */
@media all and (max-width: 750px) {
  body {
    overflow-x: hidden; }
    body #bloc-page, body .bloc-page {
      overflow: hidden; }
      body #bloc-page .soon__btn, body .bloc-page .soon__btn {
        height: 50px;
        width: 260px;
        font-size: 1.5em; }
      body #bloc-page .soon p, body .bloc-page .soon p {
        font-size: 2.75em; }
      body #bloc-page footer, body .bloc-page footer {
        height: 50px; }
        body #bloc-page footer a, body .bloc-page footer a {
          font-size: 1.1em; }
      body #bloc-page .accueil div, body .bloc-page .accueil div {
        flex-direction: column;
        margin-bottom: 0; }
        body #bloc-page .accueil div .accueil__section, body .bloc-page .accueil div .accueil__section {
          width: 100%;
          padding-top: 100%;
          margin: 0 0 30px 0; } }
/* Responsive acceuil 360px */
@media all and (max-width: 360px) {
  body #bloc-page footer a, body .bloc-page footer a {
    font-size: 0.9em; } }
/* Responsive base menu 1050px */
@media all and (max-width: 1050px) {
  .note-page main .menu, .delice-page main .menu, .palette-page main .menu, .chic-page main .menu {
    width: 100%; }
    .note-page main .menu .title-top, .delice-page main .menu .title-top, .palette-page main .menu .title-top, .chic-page main .menu .title-top {
      margin: 0; }
      .note-page main .menu .title-top img, .delice-page main .menu .title-top img, .palette-page main .menu .title-top img, .chic-page main .menu .title-top img {
        width: 100px; }
    .note-page main .menu section .price, .delice-page main .menu section .price, .palette-page main .menu section .price, .chic-page main .menu section .price {
      margin-left: 20px; }
    .note-page main .menu section .title, .delice-page main .menu section .title, .palette-page main .menu section .title, .chic-page main .menu section .title {
      width: 95%; } }
/* Responsive base menu 750px */
@media all and (max-width: 750px) {
  .note-page main .main-title, .delice-page main .main-title, .palette-page main .main-title, .chic-page main .main-title {
    font-size: 1em; }
  .note-page main .menu, .delice-page main .menu, .palette-page main .menu, .chic-page main .menu {
    width: 100%; }
    .note-page main .menu .title-top, .delice-page main .menu .title-top, .palette-page main .menu .title-top, .chic-page main .menu .title-top {
      margin: 0; }
    .note-page main .menu .title-bottom, .delice-page main .menu .title-bottom, .palette-page main .menu .title-bottom, .chic-page main .menu .title-bottom {
      flex-direction: column;
      align-items: center; }
    .note-page main .menu section .price, .delice-page main .menu section .price, .palette-page main .menu section .price, .chic-page main .menu section .price {
      margin-left: 20px; }
    .note-page main .menu section .title, .delice-page main .menu section .title, .palette-page main .menu section .title, .chic-page main .menu section .title {
      width: 95%; }
    .note-page main .menu section ul, .delice-page main .menu section ul, .palette-page main .menu section ul, .chic-page main .menu section ul {
      margin: 0; } }
#bloc-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  #bloc-page main {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column; }
    #bloc-page main div {
      display: flex;
      justify-content: center;
      margin-bottom: 70px; }
      #bloc-page main div section {
        width: 28%;
        overflow: hidden;
        margin: 0 35px 0 35px;
        position: relative;
        padding-top: 40%;
        box-shadow: 0 0 15px #b8b8b8; }

/*# sourceMappingURL=style.css.map */
