// accueil lien la palette du gout //

.lien-palette{
	background-color: $back-palette-color;
	color: $font-color-note;
		
	h2{
		font-family: 'Kaushan Script', cursive;
		font-size: 2.2em;
		background: -webkit-linear-gradient(315deg, $font-color-palette-entrees 0%,
		 $font-color-palette-plats 60%, $font-color-palette-desserts 80%);
		-webkit-background-clip: text;
		color: transparent;
	}
	
	p{
		font-family: 'Caveat', cursive;
		color: $font-color-palette-entrees;
	}
}