// h1 - a - img header //

body{

	header{

		h1{
			visibility: hidden;
			position: absolute;
			left: -10000px;
		}

		a{
			display: inline-block;
			width: 35%;
			max-height: 130px;
			max-width: 570px;
			min-width: 300px;
			text-decoration:none;
		}

		img{
			width: 100%;
			text-align: center;
		}
	}
}