$primary-color :#579c87;
$main-font-color:#fdcb46;
$shadow-color:#b8b8b8;
$back-note-color: #fcdfdb;
$font-color-note:#3c1218;
$back-chic-color:#fff5fe;
$font-color-chic-entrees:#c67412;
$font-color-chic-plats:#a56799;
$font-color-chic-desserts:#6e4ccc;
$back-delice-color:#f7f7f7;
$font-color-delice-entrees:#0228dd;
$font-color-delice-plats:#0670f3;
$font-color-delice-desserts:#229df9;
$back-palette-color:#fdfffd;
$font-color-palette-entrees:#489b40;
$font-color-palette-plats:#90d867;
$font-color-palette-desserts:#beff7f;