/* Menu la note page *////////////////////////////////////////////////


.note-menu{
	background-color: $back-note-color;
	font-family: 'Kalam', sans-serif;
	color: $font-color-note;
		
		h2{
			font-family: 'Devonshire',serif;
			font-size: 1.8em;
			font-weight: 100;
		}

		section {
			.title{
				width: 80%;
			
				.submenu-title{
					width: 30%;
					text-align: center;
						h3{
							font-size: 0.8em;
							margin: 0;
						}
				}

				svg{
					width: 35%;
				}
			}
			
			p{
				font-size: 0.6em;
			}
		}	

		.title-bottom h2{
			font-size: 1.5em;
		}

		.title-top h2{
			margin-top: 0;
		}
}

/* Responsive menu La note 750px *////////////////////////////////////////////////

@media all and (max-width: 750px)
{
	.note-page{
		.note-menu{
			h2{
				font-size: 1.2em;
			}

			.title{
				.submenu-title{
					width: 30%;
					text-align: center;
				
					h3{
						font-size: 0.7em;
						margin: 0;
					}
				}
			}	

			p{
				font-size: 0.6em;
			}
			
			.title-top h2, .title-bottom h2{
				margin-top: 0;
			}
		}
	}	
}